.container{
   
    margin:20px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:  20px;
    padding-right: 20px;

}
.signature{
    display:flex;
    justify-content:space-between;
    /* border: 1px solid black; */
}
h2{
    text-align:center;
}
.landing-img{
    width:100%;
    margin:0% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border:1px solid; */
    /* height:50%; */

}
.trib-pix{
    width:220px;
    height:180px;
    border-radius:50%;
    border:5px solid rgb(170, 163, 123);
}
.breakcontainer{
    /* border:1px solid black; */
    display: flex;
    justify-content: center;

}
.line-break{
    width:50%;
    height:30%
}
.school{
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
}
.pdf-img{
    width:100%;
    margin:0% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}