.container{
   
    margin:20px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:  20px;
    padding-right: 20px;

}
.signature{
    display:flex;
    justify-content:space-between;
    /* border: 1px solid black; */
}
button{
    background-color:rgb(114, 48, 23);
    color:white;
    height:50px;
    border-radius:7px;
    cursor: pointer;
    padding: 15px;
}
h2{
    text-align:center;
}
/* h3{
    color:white;
} */
.landing-img{
    width:100%;
    margin:0% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border:1px solid; */
    /* height:50%; */

}
.trib-pix{
    width:220px;
    height:180px;
    border-radius:50%;
    border:5px solid rgb(170, 163, 123);
}
.breakcontainer{
    /* border:1px solid black; */
    display: flex;
    justify-content: center;

}
.line-break{
    width:50%;
    height:30%
}
.school{
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
}
.pdf-img{
    width:100%;
    margin:0% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


  .container2{
    height:50%;
    border: 10px solid rgb(255, 0, 153);
    margin:20px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:  20px;
    padding-right: 20px;

  }
 
  .appreciation-img-div{
    height:50%;
    border: 10px solid red;
    margin:20px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:  20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
  }
  .appreciation-img{
    width:55%;
    /* height:750px; */
    border-radius: 50%;
    /* margin: 0 auto; */
  }
  .content{
    width:100%;
    height:50%;
    border: 10px solid rgb(0, 255, 89)
  }
     